In [2]:
len()

TypeError: len() takes exactly one argument (0 given)

In [7]:
a=15
b=35
a*b

525

In [10]:
a= 'life is too short'
len(a)

17

In [1]:
a= 'LIFE IS TOO SHORT'
len(a)

17

a=1
b=2
a+b;

In [3]:
a=1
b=2
a+b;

In [6]:
a=1
b=2
a+b;

In [8]:
#주민등록 번호를 입력 받아서 생년월일과 성별을 출력하세요 
#3항 연산자를 이용([조건] ? [참 일때] : [거짓일때]) // 파이썬 미지원
# [true_value] if [conditio] else [false_value] //파이썬 지원

In [10]:
jumin='940609-1682015'
jumin[7] ==3 ? "남자":"여자"

SyntaxError: invalid syntax (2381979967.py, line 2)

In [12]:
jumin = input('주민등록번호 입력 >>>')
print('생년월일',jumin[:6])
print('성별','남자' if jumin[7]=='3'or'1' else '여자')

주민등록번호 입력 >>> 970609175356

생년월일 970609
성별 남자

In [30]:
jumin = input('주민등록번호 입력 >>>')
print('생년월일',jumin[:6])
print('성별', jumin[7], '남자' if jumin[7]=='3' or jumin[7]=='1' else '여자')

주민등록번호 입력 >>> 000000-_

생년월일 000000
성별 _ 여자

In [32]:
if jumin[7]== '3' or TRUE

SyntaxError: invalid syntax (2053395173.py, line 1)

In [34]:
"i eat %d apples." %3

'i eat 3 apples.'

In [36]:
"i eat %d apples. %s" %(3,"end")

'i eat 3 apples. end'

In [39]:
'i eat{:^10,.2f} apples,.{}'.format(321321.123456,'count')

'i eat321,321.12 apples,.count'

In [ ]:
name = input('이름을 입력하세요 >>>')
age =input ('나이를 입력하세요>>>')
print(f'이름은 {name} 이고, 나이는 {age} 살입니다.' .format(name,age))

In [2]:
a="Python is the bes choice"
a.find('b')

14

In [5]:
a.find('k') # 파인드는 글자가 없을경우 -1 리턴

-1

In [7]:
a="Life is too short"
a.index('t')

8

In [9]:
a.index('k') # 인덱스는 없을경우 오류

ValueError: substring not found

In [11]:
','.join('abcd')

'a,b,c,d'

In [14]:
','.join(['abc','edf','안ㅕㄴㅇ']                                                                                  )

'abc,edf,안ㅕㄴㅇ'

In [19]:
a= "Life is too long"
a.replace("Life","Young")

'Young is too long'

In [24]:
a= "Life,is,too,long"
a.split(sep=',')

['Life', 'is', 'too', 'long']

In [28]:
money = True
if money:
    print('taxi')
     print('----')# 줄맞기가 안되있으면 오류가 뜸

IndentationError: unexpected indent (2859418725.py, line 4)

In [31]:
money = True
if money:
    print('taxi')
    print('----')

taxi
----

In [36]:
money = True
if money:
    print('taxi')
    print('----') 
elif card:
    print('수수료')
else:
    print('walk')

taxi
----

In [41]:
if 'money' in ['card','money']:
    
else:
    print('카드를 꺼내라')

IndentationError: expected an indented block (2006731953.py, line 3)

In [43]:
if 'money' in ['card','money']:
    pass #구조상 들어가야 되는곳을 건너뛸때 사용 
else:
    print('카드를 꺼내라')

In [45]:
if 'money' in ['card','money']: pass #구조상 들어가야 되는곳을 건너뛸때 사용 
else:print('카드를 꺼내라')

In [48]:
for i range(2,9):
    for j in range(1,9):
        print(i*j , end = "단")

SyntaxError: invalid syntax (789296028.py, line 1)

In [55]:
for i in range(2,10):
    print(f'-----------{i}단-----------')
    for j in range(1,10):        
        print(f'{i}*{j} = {i*j:2}')

-----------2단-----------
2*1 =  2
2*2 =  4
2*3 =  6
2*4 =  8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
-----------3단-----------
3*1 =  3
3*2 =  6
3*3 =  9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
-----------4단-----------
4*1 =  4
4*2 =  8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
-----------5단-----------
5*1 =  5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
-----------6단-----------
6*1 =  6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
-----------7단-----------
7*1 =  7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
-----------8단-----------
8*1 =  8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
-----------9단-----------
9*1 =  9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [2]:
for i in range(1,10):
    for j in range(2,10):
        print(f'{i}*{j}={i*j}',end=' ')

1*2=2 1*3=3 1*4=4 1*5=5 1*6=6 1*7=7 1*8=8 1*9=9 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
rank.